{% extends 'base.html' %}
{% load static %}
{% block content %}
{% if user.is_authenticated %}
    <a href="{% url 'bootrc:menu_create' %}" class="btn btn-primary">메뉴 만들기</a>
    <a href="{% url 'bootrc:menu_list' %}" class="btn btn-primary">메뉴 목록보기</a>
    <a href="{% url 'bootrc:menu_select' %}" class="btn btn-primary">메뉴 선호 설정</a>
    <a href="{% url 'bootrc:category_select' %}" class="btn btn-primary">카테고리 선호 설정</a>
    <a href="{% url 'bootrc:rest_create' %}" class="btn btn-primary">가게 만들기</a>
    <a href="{% url 'bootrc:rest_list' %}" class="btn btn-primary">가게 목록보기</a>
    <a href="{% url 'bootrc:crawling' %}" class="btn btn-primary">크롤링</a>
    <a href="{% url 'bootrc:crawling_delete' %}" class="btn btn-primary">크롤링 삭제</a>
    <a href="{% url 'bootrc:recommendmenu' %}" class="btn btn-primary">메뉴 추천</a>
    <a href="{% url 'bootrc:recommendmenu2' %}" class="btn btn-primary">추천 받기 테스트</a>
    <a href="{% url 'bootrc:app_review' %}" class="btn btn-primary">리뷰 작성하기</a>
    <a href="{% url 'bootrc:rest_ranking' %}" class="btn btn-primary">맛집 랭크</a>
    <span><strong> 현재 로그인 : {{user.username}} 님 </strong></span>
{% else %}
    <div class="notice">이 페이지에 접근할 권한이 없습니다.<br/>로그인 후 이용하여 주십시오.<br/></div>
    <a href="{% url 'bootrc:login' %}" class="btn btn-primary">로그인</a>
{% endif %}
{% endblock %}