{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <h5 class="my-3 border-bottom pb-2">리뷰 추가</h5>
        {% csrf_token %}
        <!-- 오류표시 Start -->
        {% if form.errors %}
            <div class="alert alert-danger" role="alert">
            {% for field in form %}
                {% if field.errors %}
                <strong>{{ field.label }}</strong>
                {{ field.errors }}
                {% endif %}
            {% endfor %}
            </div>
        {% endif %}
        <!-- 오류표시 End -->
    <table class="table">
        <thead>
        <tr class="thead-dark">
            <th>최근 추천 가게</th>
            <th>최근 추천 메뉴</th>
            <th>최근 추천 일자</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ recommend.rest.rest_name }}</td>
            <td>{{ recommend.menu_name.rest_menu }}</td>
            <td>{{ recommend.created }}</td>
        </tr>
        </tbody>
    </table>
    <form method="post" class="post-form my-3">
        <div class="form-group">
            <label for="comment">코멘트 남기기!</label>
            <textarea class="form-control" name="comment" id="comment" value="{{ form.subject.value|default_if_none:'' }}"></textarea>
        </div>
        <div class="form-group">
            얼마나 만족하셨나요?<br>
            <label class="radio_review" for="like_count0"><input type="radio" name="like_count" id="like_count0" value="0">
            매우 불만족...</label>
            <label class="radio_review" for="like_count1"><input type="radio" name="like_count" id="like_count1" value="1">
            불만족...</label>
            <label class="radio_review" for="like_count2"><input type="radio" name="like_count" id="like_count2" value="2">
            그저 그랬어요.</label>
            <label class="radio_review" for="like_count3"><input type="radio" name="like_count" id="like_count3" value="3">
            만족했어요!</label>
            <label class="radio_review" for="like_count4"><input type="radio" name="like_count" id="like_count4" value="4">
            매우 만족했어요!</label>
        </div>
        <button type="submit" class="btn btn-primary">저장하기</button>
        <div class="form-group">
            <label for="rest"></label>
            <td><label><input type="hidden" name="rest" id="rest" value="{{ recommend.rest.rest_num }}"></label></td>
        </div>
        <div class="form-group">
            <label for="menu_name"></label>
            <td><label><input type="hidden" name="menu_name" id="menu_name" value="{{ recommend.menu_name.id }}"></label></td>
        </div>
    </form>
</div>
{% endblock %}