{% extends 'base.html' %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
{% block content %}
        <a href="{% url 'bootrc:menu_create' %}" class="btn btn-primary">메뉴 만들기</a>
        <a href="{% url 'bootrc:menu_list' %}" class="btn btn-primary">메뉴 목록보기</a>
        <a href="{% url 'bootrc:menu_select' %}" class="btn btn-primary">메뉴 선호 설정</a>
        <a href="{% url 'bootrc:rest_create' %}" class="btn btn-primary">가게 만들기</a>
        <a href="{% url 'bootrc:rest_list' %}" class="btn btn-primary">가게 목록보기</a>
        <a href="{% url 'bootrc:crawling' %}" class="btn btn-primary">크롤링</a>
        <a href="{% url 'bootrc:recommendmenu' %}" class="btn btn-primary">메뉴 추천</a>
        {% if user.is_authenticated %}
        <a href="{% url 'bootrc:logout' %}" class="btn btn-primary">로그아웃</a>
        <span><strong> 현재 로그인 : {{user.username}} 님 </strong></span>
        {% else %}
        <a href="{% url 'bootrc:login' %}" class="btn btn-primary">로그인</a>
        <a href="{% url 'bootrc:signup' %}" class="btn btn-primary">회원가입</a>
        {% endif %}
{% endblock %}