{% extends 'base.html' %}
{% load static %}
{% block content %}
<h3 class="text-center">선호하는 메뉴를 설정해 주세요</h3>
<div class="container my-4">
    <table class="table">
        <thead>
        <tr class="table-dark">
            <th style="width: 25%">메뉴</th>
            <th style="width: 15%">선호 점수</th>
            <th style="width: 15%"></th>
            <th style="width: 15%"></th>
            <th style="width: 15%"></th>
            <th style="width: 15%"></th>
        </tr>
        </thead>
        <tbody>
        {% if list2 %}
        <form method="post" class="post-form my-3">
            {% csrf_token %}
        {% for i in list2 %}
        <tr class="thead-dark">
            <div class="form-group">
                <td>{{ i.menu_name2 }}</td>
            </div>
            <div class="form-group">
                <td><label><input type="radio" name={{ i.menu_name2 }} vlaue="-2"> -2</label></td>
                <td><label><input type="radio" name={{ i.menu_name2 }} value="-1"> -1</label></td>
                <td><label><input type="radio" name={{ i.menu_name2 }} value="0"> 0</label></td>
                <td><label><input type="radio" name={{ i.menu_name2 }} value="+1"> +1</label></td>
                <td><label><input type="radio" name={{ i.menu_name2 }} value="+2"> +2</label></td>
            </div>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td>메뉴가 없습니다 추가 필요</td>
        </tr>
        {% endif %}
        <button type="submit" class="btn btn-primary" style="display: block;
        position: absolute; top:50%; left:50%" >저장하기</button>
    </form>
    </table>
    <label>테스트 : 랜덤으로 뽑힌 숫자는 {{ number }}</label>
    </tbody>
</div>
{% endblock %}