{% extends 'base.html' %}
{% load static %}
1<link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
{% block content %}
<div class="container my-3">
    <a href="{% url 'bootrc:index' %}" class="btn btn-primary">메인으로 이동</a>
    <table class="table">
        <thead>
        <tr class="thead-dark">
            <th>번호</th>
            <th>가게 이름</th>
            <th>위도</th>
            <th>경도</th>
            <th>별점</th>
            <th>거리</th>
            <th>운영 시간</th>
            <th>연락처</th>
            <th>도로명 주소</th>
            <th>리뷰 수</th>
            <th>삭제</th>
        </tr>
        </thead>
        <tbody>
        {% if rest_list %}
        {% for rest in rest_list %}
        <tr>
            <td>{{ rest.rest_num }}</td>
            <td><a href="{% url 'bootrc:restmenu_list' rest.rest_num %}">{{ rest.rest_name }}</a></td>
            <td>{{ rest.rest_location_lat }}</td>
            <td>{{ rest.rest_location_lon }}</td>
            <td>{{ rest.rest_star }}</td>
            <td>{{ rest.distance_calc}}</td>
            <td>{{ rest.opening_time }} - {{ rest.closing_time }}</td>
            <td>{{ rest.phone_number }}</td>
            <td>{{ rest.address }}</td>
            <td>{{ rest.rest_number_reviews}}</td>
            <td><a href="#" data-uri="{% url 'bootrc:rest_delete' rest.rest_num %}"
               class="delete btn btn-sm btn-outline-secondary">삭제</a></td>
<!--delete href를 #으로 지정하여 확인창을 JS로 구현하기 위해-->
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="3">질문이 없습니다.</td>
        </tr>
        {% endif %}
        </tbody>
    </table>
</div>
{% endblock %}
<!--JS-->
{% block script %}
<script type="text/javascript">
$(document).ready(function(){
    $(".delete").on('click', function(){
        if(confirm("정말로 삭제하시겠습니까?")){
            location.href = $(this).data('uri');
        }
    });
});
</script>
{% endblock %}