{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h5 class="my-3 border-bottom pb-2">가게 등록</h5>
    <form method="post" class="post-form my-3">
        {% csrf_token %}
        <!-- 오류표시 Start -->
        {% if form.errors %}
            <div class="alert alert-danger" role="alert">
            {% for field in form %}
                {% if field.errors %}
                <strong>{{ field.label }}</strong>
                {{ field.errors }}
                {% endif %}
            {% endfor %}
            </div>
        {% endif %}
        <!-- 오류표시 End -->
        <div class="form-group">
            <label for="rest_name">가게</label>
            <input type="text" class="form-control" name="rest_name" id="rest_name"
                   value="{{ form.subject.value|default_if_none:'' }}">
        </div>
        <div class="form-group">
            <label for="rest_star">별점</label>
            <input type="number" class="form-control" step="0.1" name="rest_star" id="rest_star"
                   value="{{ form.subject.value|default_if_none:'' }}">
        </div>
        <div class="form-group">
            <label for="rest_location_lat">위도</label>
            <input type="number" class="form-control" name="rest_location_lat" id="rest_location_lat"
                   value="{{ form.subject.value|default_if_none:'' }}" step="0.000001">
        </div>
        <div class="form-group">
            <label for="rest_location_lon">경도</label>
            <input type="number" class="form-control" name="rest_location_lon" id="rest_location_lon"
                   value="{{ form.subject.value|default_if_none:'' }}" step="0.000001">
        </div>
        <div class="form-group">
            <label for="rest_recent_user">이용자 수</label>
            <input type="number" class="form-control" name="rest_recent_user" id="rest_recent_user"
                   value="{{ form.subject.value|default_if_none:'' }}">
        </div>
        <div class="form-group">
            <label for="rest_number_reviews">리뷰 수</label>
            <input type="number" class="form-control" name="rest_number_reviews" id="rest_number_reviews"
                   value="{{ form.subject.value|default_if_none:'' }}">
        </div>
        <button type="submit" class="btn btn-primary">저장하기</button>
    </form>
</div>
{% endblock %}