{% extends 'base.html' %}
{% load static %}
1<link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
{% block content %}
<div class="container my-3">
    <table class="table">
        <thead>
        <tr class="thead-dark">
            <th>번호</th>
            <th>가게 번호</th>
            <th>가게 이름</th>
        </tr>
        </thead>
        <tbody>
        {% if restmenu_list %}
        {% for restmenu in restmenu_list %}
        <tr>
            <td>{{ restmenu.rest.rest_num }}</td>
            <td><{ restmenu.rest.rest_name }}</td>
            <td><{ restmenu.rest_menu }}</td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="3">질문이 없습니다.</td>
        </tr>
        {% endif %}
        </tbody>
    </table>
    <a href="{% url 'bootrc:restmenu_create' rest_rest_num %}" class="btn btn-primary">메뉴 만들기</a>
</div>
{% endblock %}