body{
    margin:10px;
    margin-top:65px;
}
.menu{
    color:white;
    text-decoration:none;
}
.menu:hover{
    color:yellow;
    text-decoration:none;
}
.nav-bottom-resize{
    margin-bottom:10px;
}
.login_style{
    margin:0 auto;
}
.m10{
    margin:10px;
}
.top-button{
    margin-left:20px;
    margin-top:20px;
}
.notice{
    font-size:30px;
    font-weight:bold;
}
.main_button{
    width:500px;
    height:350px;
    margin:20px;
    box-shadow:5px 5px gray;
}
.top_login_info{
    padding:3px 5px;
    background:gold;
    font-weight:bold;
    border-radius:5px;
}
.main_no_login{
    padding: 10px;
    border-radius: 5px;
    background: #f2dede;
    margin-bottom:10px;
}