{% load static %}
<!doctype html>
<html lang="ko">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
    <!-- pybo CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <title>일일 맛집 추천</title>
</head>
<body>
<!-- 기본 템플릿 안에 삽입될 내용 Start -->
{% block content %}
{% endblock %}
<!-- 기본 템플릿 안에 삽입될 내용 End -->

<!--Jquery JS-->
<script src="{% static 'jquery-3.6.0.min.js' %}"></script>
<!--BootStrap JS-->
<script src="{% static 'bootstrap.min.js' %}"></script>
<!--자바 스크립트 시작-->
{% block script %}
{% endblock %}
<!--자바 스크립트 끝-->
</body>
</html>