{% load static %}
<!doctype html>
<html lang="ko">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
    <!-- pybo CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <title>일일 맛집 추천</title>
</head>
<body>
<!-- 공통 적용 부분 -->
<nav class=" navbar navbar-expand-md navbar-dark bg-dark fixed-top nav-bottom-resize">
    <div class="collapse navbar-collapse"><a href="/bootrc/" class="navbar-brand">메인 메뉴</a>
    <a href="/login" class="menu navbar-nav nav-link">로그인</a>
    <a href="/signup" class="menu navbar-nav navbar-link">회원가입</a></div>
</nav>
<!-- 공통 적용 부분 End -->
<!-- 기본 템플릿 안에 삽입될 내용 Start -->
{% block content %}
{% endblock %}
<!-- 기본 템플릿 안에 삽입될 내용 End -->
</body>
</html>